@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .box {
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;

    &:first-of-type {
      margin-bottom: 12px;
    }

    h1 {
      margin: 15px 0 40px;
      font-family: "Lobster", cursive;
      font-weight: 100;
      font-size: 42px;
    }

    input[type="text"] {
      padding: 8px 8px;
      width: 100%;
      background: #fafafa;
      color: #737373;
      font-size: 12px;
      box-sizing: border-box;
      border: 1px solid #dbdbdb;
      border-radius: 4px;

      &:first-of-type {
        margin-bottom: 7px;
      }

      &:last-of-type {
        margin-bottom: 14px;
      }
    }

    span {
      margin: 20px 0 30px;
      padding: 0 20px;
      position: relative;
      font-size: 12px;
      color: #737373;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: -110px;
        width: 110px;
        height: 1px;
        background: #dbdbdb;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: -110px;
        width: 110px;
        height: 1px;
        background: #dbdbdb;
      }
    }

    .btnLogin {
      padding: 10px 0;
      width: 100%;
      background: #67b5fa;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      border: none;
      border-radius: 8px;

      // &:hover {
      //   background: #2d94ef;
      // }
    }

    .btnLoginChange {
      background: #2d94ef;
    }

    .btnFacebook {
      padding-left: 24px;
      position: relative;
      height: 16px;
      background: none;
      color: #375085;
      border: none;
      font-size: 14px;
      font-weight: 600;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 16px;
        height: 16px;
        background: url("../../../assets/jisun/Login/icon_facebook.png") no-repeat;
      }
    }

    .err {
      margin: 35px 0 10px;
      color: #ed4956;
      font-size: 14px;
    }

    .findPassword {
      margin-top: 25px;
      color: #375085;
      font-size: 12px;
      font-weight: 600;
      background: none;
      border: none;
    }
  }

  .box:last-of-type {
    flex-direction: row;
    justify-content: center;
    color: #000;
    font-size: 13px;
    font-weight: 500;

    &:last-of-type > a {
      margin-left: 4px;
      color: #0095f6;
    }
  }
}
